@* 
 GenAI info component.  
*@
<div class="alert alert-primary" role="alert">
  <h4 class="alert-heading">Instructions</h4>
  <ul>
    <li>Obtain a Google Studio API Key from <a target="_blank" href="https://aistudio.google.com/apikey"> here</a>. </li>
    <li>Pick a model. Newer models tend to have better accuracy. See available models <a target="_blank" href="https://modelcards.withgoogle.com/model-cards"> here</a>.</li>
    <li>Provide a description for each field. Be as specific as possible to ensure greater accuracy. Example: 'Patient's date of birth'.</li>
  </ul>
</div>