@* 
  Alert disclaimer component
*@
<div class="alert alert-warning" role="alert"> 
 100% accuracy cannot be guaranteed. To improve results, experiment with different models and modify your field descriptions for greater clarity and relevance.
</div>