@inherits LayoutComponentBase
<div class="page">   
    <main>
        <div class="top-row px-4">
            <a href="." class="btn-link">
                <h2><img src="EntiTrackLogo2.png" height="55" width="55" />EntiTrack</h2>
            </a>            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
